.archive .article {
	border-bottom:1px solid #b2b2b2;
	padding:0 0 1em;
	margin:0 0 1em;
	overflow:hidden;
	zoom:1;
}
	.archive .article img {
		float:left;
		margin:0 15px 15px 0;
	}
	.archive .entry-meta {
		clear:left;
		font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
		line-height: 1em;
	}
	.archive .author {
		float:left;
	}
	.header .entry-meta .author {
		float:none !important;
	}
	.archive .comments {
		float:right;
		line-height: 1em;
	}
	.archive .comments a {
		line-height: 1em;
		padding:0;
		text-transform: uppercase;
		font-size: .86em;
		text-decoration: none;
	}
	.archive a.view-story {
		font-size: .66em;
		white-space:nowrap;
		color:#fff;
		background:#5f939a;
		text-transform: uppercase;
		text-decoration: none;
		font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
		padding:2px 5px;
	}
#featured-in {
	background:#b29d2c;
	text-transform: uppercase;
	padding:15px;
	line-height: 1em;
	position:relative;
	margin:0 0 2em;
	overflow:hidden;
	zoom:1;
}
	#featured-in h4 {
		color:#d1c480;
		font-size: 1.1em;
		line-height: 1em;
		margin:0 0 .2em !important;
		padding:0;
	}
	#featured-in h3 {
		font-size:1.1em;
		margin:0;
		padding:0;
	}
		#featured-in h3 a {
			color:#fff;
			text-decoration: none;
		}

	#featured-in a.view-all,
	#featured-in a.subscribe {
		float:right;
		line-height: 1em;
		background:#d1c480;
		color:#fff;
		font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
		text-decoration: none;
		font-size: 10px;
		padding:3px 5px;
		margin:0 0 0 5px;
	}
	#featured-in a.subscribe {
		float:none;
		position:relative;
		top:-3px;
	}
	
.entry-meta {
	font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: .86em;
	color:#808080;
	position:relative;
}
	.entry-meta a {
		color:#00707f;
		text-decoration: none;
	}
	.entry-meta p.tags {
		display:block;
		clear:left;
	}
	
	.entry-meta .sharing {
		position:relative;
		top: -4px;
	}
		.entry-meta .sharing .fb-like {
			width:90px;
			overflow:hidden;
			float:right;
		}
		.entry-meta .sharing .twitter-share-button {
			float:right;
			width:96px !important;
			margin-right:20px;
		}
		.entry-meta .sharing a.tweet {
			background:url('/img/ball-twitter.png') no-repeat scroll left center;
			padding:4px 0 5px 26px;
			width:100px;
			float:right;
			margin:0 10px 0 0;
			position:relative;
		}
		.sharing #___plusone_0 {
			float:right !important;
			clear:none;
			position:relative;
			top:2px;
		}
		
#comments h3 {
	border:1px solid #b2b2b2;
	border-width:1px 0 1px 0;
	padding:15px 0;
	margin:1em 0 0;
}
	#comments h3 a {
		float:right;
		background:#5f939a;
		color:#fff;
		padding:5px 10px;
		font-size: .5em;
		line-height: 1em;
		text-transform: uppercase;
		text-decoration: none;
	}
	
	#comments ol {
		list-style:none;
		margin:0 0 2em;
		padding:0;
	}
		#comments ol li {
			padding:15px 0;
			border-bottom:1px solid #b2b2b2;
			overflow:hidden;
			zoom:1;
		}
		#comments ol li .meta {
			font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
			font-size: .8em;
			text-transform: uppercase;
			color:#b2b2b2;
			float:left;
			width:120px;
		}
			#comments ol li .meta cite {
				font-style:normal;
				color:#323232;
			}
				#comments ol li .meta cite a {
					text-decoration: none;
				}
		#comments ol li .comment {
			padding-left:130px;
		}
		
	#comment-form {
		margin:0 0 2em;
		padding:0 0 2em;
		border-bottom:1px solid #b2b2b2;
	}
		#comment-form label {
			float:left;
			width:120px;
			margin-right:10px;
			font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
			text-align:right;
			font-size: .86em;
			text-transform: uppercase;
		}
		#comment-form .input {
			clear:left;
			margin:0 0 1em;
			overflow:hidden;
			zoom:1;
		}
		#comment-form .text input,
		#comment-form textarea {
			float:left;
			padding:5px;
			width:450px;
		}
		#comment-form .submit {
			padding-left:130px;
		}
		#comment-form .submit input {
			background:#5f939a;
			color:#fff;
			text-transform: uppercase;
			font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
			border:none;
			line-height: 1em;
			padding:5px 10px;
		}

#sidebar .related h3 {
	font-size: 2em;
	text-transform: none;
}

#sidebar .related .related_post_title {
	font-size: 1.2em !important;
	background: none !important;
	border: 0 !important;
	padding: 0 !important;
	text-transform: uppercase;
}

#sidebar .wp_rp_publish_date{
	display: block;
	text-transform: uppercase;
}

#sidebar ul.related_post li{
	border: none !important;
}

#sidebar .related h4 a {
	text-transform: normal;
	text-decoration: none;
}
#sidebar .popular ul {
	margin:0 0 1em;
	padding:0;
}
	#sidebar .popular li {
		font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
		float:left;
		width:47%;
		display:inline;
		overflow:hidden;
		zoom:1;
		margin:0;
		padding:4px 5% 4px 0;
		font-size: .86em;
		line-height: 1.2em;
	}
	#sidebar .popular li.end {
		padding-right:0;
	}
	#sidebar .popular li.breaker {
		float:none;
		clear:none;
		height:1px;
		overflow:hidden;
		zoom:1;
		width:100% !important;
		padding:0;
		margin:0;
		display:block;
	}
		#sidebar .popular li a {
			color:#323232;
			text-transform: uppercase;
			text-decoration: none;
		}
		#sidebar .popular li a:hover {
			background:#323232;
			color:#fff;
		}

	#sidebar .subscribe p {
		margin:0 0 1em;
	}
	#sidebar .subscribe a {
		display:block;
		padding:5px 0 5px 16px;
		text-decoration: none;
		color:#a84100;
		background: url('/img/icon-rss.png') no-repeat scroll left center;
		
	}
		
