.wpcf7 br {
	display:none;
}
.wpcf7 .input {
	margin:0 0 1em;
	clear:left;
	overflow:hidden;
	zoom:1;
	width:500px;
}
.wpcf7 .text label,
.wpcf7 .textarea label,
.wpcf7 .select label {
	font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	display:block;
	line-height: 1em;
}

.wpcf7 .text input,
.wpcf7 .textarea textarea {
	width:98%;
	padding:5px 0;
}
.wpcf7 .type .wpcf7-form-control-wrap {
	font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
}
.wpcf7 .type p {
	padding:0 0 0 .5em;
	margin:0 !important;
	font-size: .86em;
	line-height: 1.4em;
	color:#666;
}
.wpcf7 .title {
	float:left;
	width:100px;
	margin-right:30px;
}
.wpcf7 .fname {
	float:left;
	width:170px;
	margin-right:30px;
	clear:none;
}
.wpcf7 .lname  {
	float:left;
	width:165px;
	clear:none;
}
.wpcf7 .address textarea {
	height:50px;
}
.wpcf7 .city {
	float:left;
	width:295px;
	margin-right:30px;
}
.wpcf7 .state {
	float:left;
	clear:none;
	margin-right:30px;
	width:64px;
}
.wpcf7 .zip {
	float:left;
	clear:none;
	width:75px;
}
.wpcf7 .phone {
	float:left;
	width:200px;
	margin-right:30px;
}
.wpcf7 .phone-type {
	float:left;
	clear:none;
	width:200px;
}
.wpcf7 .checkbox label.primary {
	display:block;
	font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
}
.wpcf7 .issues .wpcf7-list-item label {
	float:left;
	width:50%;
}
.wpcf7 .submit input {
	background:#5f939a;
	color:#fff;
	text-transform: uppercase;
	font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
	border:none;
	line-height: 1em;
	padding:5px 10px;
}