#main .energy-matters {
	background: #b4961e url('/img/fpo-header-energy-matters.jpg') no-repeat scroll left top;
	height:141px;
}
#main .powering-progress {
	background: #b4961e url('/img/fpo-header-powering-progress.jpg') no-repeat scroll left top;
	height:141px;
}
	#main .publication-header h2 {
		position:static;
		background-color:transparent;
		filter:none;
		width:auto;
		font-size: 4em;
		padding:0 0 0 20px;
		margin:.7em 0 0;
		line-height: 1em;
	}
	#main .publication-header h3 {
		padding:0 0 0 20px;
		margin:0;
		opacity: 0.75;
		-moz-opacity: 0.75;
		position:relative;
	}
	.publication-header .issue-meta {
		position:absolute;
		width:290px;
		padding:15px;
		right:0;
		top:30%;
		background:#fff;
		color:#b39e2c;
		text-transform: uppercase;
		letter-spacing:.25em;
		font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
	}
	.publication-header .issue-meta div {
		float:left;
	}
	.publication-header .issue-meta div.issue {
		float:right;
	}

	#category-img {
		display:block;
		position:relative;
		margin:10px 0 20px;
	}
	#category-img img {
		display:block;
		position:relative;
		z-index:1;
	}
	#sub #category-img h2 {
		position:absolute;
		z-index:10;
		top:20px;
		left:0;
		text-transform: uppercase;
		background:#fff;
		color:#323232;
		font-size: .9em;
		line-height: 1em;
		white-space:nowrap;
		padding:5px;
	}