#heading {
	height:150px;
	overflow:hidden;
	background: url('/img/fpo-feature-rocks.jpg') no-repeat scroll left top;
	width: 960px;
	position:relative;
}
	#heading h2 {
		position:absolute;
		top:35%;
		line-height: 1em;
		font-size: 2.2em;
		left:0;
		color:#fff;
		text-transform: uppercase;
		background:transparent;
		background:rgba(182,85,24,0.75);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFB65518,endColorstr=#BFB65518); /* IE6–IE9 */
		zoom: 1;
		padding:10px 20px;
	}
#sub {
	color:#333;
	margin:0;
	padding:20px 20px;
	border-right:1px solid #b2b2b2;
	width:601px;
	float:left;
	line-height: 1.6em;
	font-size: 1.1em;
	overflow:hidden;
	zoom:1;
}
#sub.no-sidebar {
	border-right: none;
	width: 920px;
}
	#sub blockquote {
		margin:1em 1em 2em 2em;
	}
	#sub h2 {
		color:#bda931;
		text-transform: uppercase;
		font-size: 1em;
		line-height: 1em;
		margin:0 0 1em;
	}
	#sub .the-content h2 {
		color:#777;
		text-transform: none;
		font-size: 1.2em;
	}
		#sub h2 a {
			color:#bda931;
			text-decoration: none;
		}
	#sub h3 {
		font-size: 2em;
		line-height: 1em;
		margin:0 0 .5em;
	}
	#sub .single h3 {
		margin-bottom: .25em;
	}
		#sub h3 a {
			text-decoration: none;
			color:#333;
		}
	#sub h4 {
		color: #2b757f;
		text-transform: uppercase;
		line-height: 1.25em;
		font-size: 1.3em;
		padding: 0;
		margin: 1em 0 0 !important;

	}
	#sub p {
		margin:0 0 1em;
	}
	#sub.archive .article p {
		margin:0;
	}
	#sub.archive .article .entry-meta {
		margin:1em 0 0;
	}
	#sub ul li,
	#sub ol li {
		padding:7px 0;
	}

#subnav {
	position:relative;
	top:-40px;
	left:-18px;
	width:320px;
	margin-bottom:-20px;
}
	#subnav ul {
		margin:0;
		padding:0;
	}
		#subnav ul li {
			margin:0;
			padding:0;
			display:block;
		}
	#subnav ul li a {
		font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		zoom:1;
		background:#e4e9e4 !important;
		display:block;
		text-decoration: none;
		margin-bottom:1px;
		padding:20px 20px;
		font-size: 1.2em;
		line-height: 1em;
	}
	#subnav ul li a.here,
	#subnav ul li a:hover {
		background:#bfd4d7 !important;
		color:#607890;
	}

	#sub .entry-content h1,
	#sub .the-content h1 {
		font-size: 2em;
		line-height: 1em;
		margin: 0 0 .5em;
	}
	#sub .entry-content h2 {
		color: #2b757f;
		text-transform: uppercase;
		line-height: 1.25em;
		font-size: 1.3em;
		padding: 0;
		margin: 1em 0 0 !important;
	}
	#sub .entry-content h3 {
		font-size: 1.2em;
		line-height: 1em;
		margin: 0 0 .5em;
	}

	#sub .the-content h2 {
		color:#2b757f;
		font-size: 1.6em;
		line-height: 1em;
		margin:0 0 1em;
	}

	#sub .the-content p {
		margin:0 0 1em;
		padding:0;
	}

	#sub .the-content h3 {
		color:#777;
		text-transform: uppercase;
		font-size: 1.3em;
		line-height: 1em;
		margin:1.5em 0 .3em;
	}
