@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('/css/fonts/ProximaNova-Sbold-webfont.eot');
    src: url('/css/fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
         url('/css/fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
         url('/css/fonts/ProximaNova-Sbold-webfont.svg#ProximaNovaSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
}
a, a:active, a:visited { color: #607890; }
a:hover { color: #b65518; }

html {
	background: url('/img/bg-html.jpg') repeat scroll left top;
	height:100%;
}
body {
	background: url('/img/bg-body.png') repeat-x scroll left top;
	height:100%;
	color:#333;
	font:13px/1.231 Georgia, Times, 'Times New Roman', serif; *font-size:small;
	line-height: 1.4em;
}
.ie6 body {
	background:none;
}


#container {
	width:960px;
	margin:0 auto;
	padding:30px 0;
}
#header {
	position:relative;
}
	#header #logo {
		background: url('/img/logo.png') no-repeat scroll left top;
		width: 285px;
		height: 48px;
		display:block;
		overflow:hidden;
		text-indent:-99999px;
		margin:0 0 25px;
		padding:0;
	}
	#header a#logo:hover {
		background-position:0 100%;
	}
	#header div.tagline {
		position:absolute;
		left:300px;
		top:20px;
		font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
		font-size:1.3em;
		color:#5b8c8e;
	}
	#header div.search {
		position:absolute;
		right:0;
		top:10px;
	}
		div.search input {
			background: transparent url('/img/search-bar.png') no-repeat scroll left top;
			width: 250px;
			height: 27px;
			border:none;
			padding:0 20px 0 50px;
		}
			.ie8 #header div.search input,
			.ie7 #header li.search input,
			.ie6 #header li.search input {
				padding-top:5px;
			}
		
#main {
	background:#fff;
	-moz-box-shadow: 0px 4px 6px #aca07e; /* FF3.5+ */
	-webkit-box-shadow: 4px 0px 6px #aca07e; /* Saf3.0+, Chrome */
	box-shadow: 0px 4px 6px #aca07e; /* Opera 10.5, IE 9.0 */
	overflow:hidden;
	zoom:1;
}
	#primary-nav {
		position:relative;
		z-index:100;
		background: url('/img/nav-primary-bg.gif') repeat-x scroll left top;
		height: 60px;
		font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
	}
		#primary-nav ul {
			margin:0 0 0 10px;
			padding:0;
			position:relative;
			z-index:100;
			float:left;
		}
			#primary-nav li {
				float:left;
				position:relative;
			}
			#primary-nav a {
				color:#fff;
				font-size: 1.1em;
				text-transform: uppercase;
				text-decoration: none;
				line-height: 60px;
				height:60px;
				float:left;
				padding:0 8px;
				
			}
			.ie7 #primary-nav a,
			.ie6 #primary-nav a {
				padding:0 4px;
			}
			
			
			
				#primary-nav a span {
					background:transparent;
					position:relative;
					padding:5px 10px;
					z-index:10;
					cursor:pointer;
				}
				
				.ie7 #primary-nav a span {
					zoom:1;
					padding:7px 10px;
					line-height: 1em;
					margin-top:16px;
				}
				
				#primary-nav a:hover span,
				#primary-nav a.here span,
				#primary-nav li:hover span {
					background:#48abb6;
				}
				
				#primary-nav a span span.pointer {
					display:none;
				}
				
				#primary-nav a:hover span span.pointer,
				#primary-nav a.here span span.pointer,
				#primary-nav li:hover span span.pointer {
					display:block;
				}
				
				.ie6 .pointer {
					display:none !important;
				}
				
				#primary-nav a span span.pointer {
					position:absolute;
					border:6px solid;
					background:transparent;
					border-color:#48abb6 transparent transparent transparent;
					bottom:-12px;
					margin:0 0 0 -7px;
					padding:0;
					left:50%;
					width:0;
					height:0;
				}
			#primary-nav ul ul {
				z-index:9;
				display:none;
				float:none;
				position:absolute;
				top:43px;
				left:-2px;
				background: #acc7cb url('/img/nav-drop-bg.gif') repeat-x scroll left top;
				-moz-box-shadow: 0px 0px 7px #777; /* FF3.5+ */
				-webkit-box-shadow: 0px 0px 7px #777; /* Saf3.0+, Chrome */
				box-shadow: 0px 0px 7px #777; /* Opera 10.5, IE 9.0 */
				width:250px;
			}
			#primary-nav ul li.last ul {
				right:17px !important;
				left:auto;
			}
			#primary-nav ul li:hover ul {
				display:block;
			}
				#primary-nav ul ul li {
					float:none;
					position:static;
					display:block;
				}
					#primary-nav ul ul a {
						height:auto;
						float:none;
						display:block;
						line-height: 1em;
						padding:10px;
						border-bottom:1px solid #99b8bc;
						border-top:1px solid #d2dadc;
						color:#2b7680;
					}
					#primary-nav ul ul a:hover,
					#primary-nav ul ul a.here,
					#primary-nav ul ul li.current-cat a,
					#primary-nav ul ul li.current_page_item a {
						background: #d4d9d9 url('/img/nav-drop-over-bg.gif') repeat-x scroll left top;
					}
					
					.ie7 #primary-nav ul ul {
						left:-6px;
						top:45px;
					}
					.ie7 #primary-nav ul ul a {
						padding:10px;
					}
			#primary-nav ul.social {
				margin:0;
				right:0;
				position:absolute;
			}
				#primary-nav ul.social li {}
					#primary-nav ul.social li a {
						width: 21px;
						height: 21px;
						padding:0;
						text-indent:-9999px;
						display:block;
						margin:0 10px;
						position:relative;
						top:20px;
					}
					#primary-nav ul.social li a.facebook {
						background: url('/img/nav-social.png') no-repeat left;
					}
					#primary-nav ul.social li a.twitter {
						background: url('/img/nav-social.png') no-repeat center;
					}
					#primary-nav ul.social li a.pinterest {
						background: url('/img/nav-social.png') no-repeat right;
						margin-right:20px;
					}
					
	#features {
		height:344px;
		width:960px;
		position:relative;
	}
		#slider-pagination {
			position:absolute;
			bottom:-20px;
			left:20px;
			background:#afc9cc;
			padding:5px;
		}
		
		#slider-pagination a {
			background: url('/img/page-off.gif') no-repeat scroll center center;
			width: 10px;
			height: 10px;
			float:left;
			padding:0 3px;
			text-indent:-9999px;
		}
		#slider-pagination a.selected {
			background: url('/img/pager-on.gif') no-repeat scroll center center;
		}
		#slider-pagination #pointer {
			border:10px solid #afc9cc;
			border-color:transparent transparent #afc9cc transparent;
			position:absolute;
			top:-17px;
			left:5px;
			width:0;
			height:0;
		}
		
		.ie6 #pointer {
			display:none;
		}
		
		#slider div.item {
			height:344px;
			width:960px;
			float:left;
			position:relative;
		}
		
		#slider div div.text {
			position:absolute;
			bottom:20px;
			left:20px;
			color:#fff;
			width:598px;
		}
			#slider div.text h3 {
				background:#bda931;
				text-transform: uppercase;
				float:left;
				padding:5px;
				font-size: 1em;
				margin:0;
			}
			#slider div.text h4 {
				background:transparent;
				background:rgba(189,169,49,0.5);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FBDA931,endColorstr=#7FBDA931);
				zoom: 1;
				clear:left;
				margin:0;
				padding:20px;
				font-size: 2.5em;
			}
				#slider div.text h4 a {
					color:#fff;
					text-decoration: none;
				}
		#features #updates {
			border-left:1px solid #798173;
			background:transparent;
			background:rgba(140,140,140, 0.33);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#548C8C8C,endColorstr=#548C8C8C); 
			zoom: 1;
			height:304px;
			width:279px;
			padding:20px;
			position:absolute;
			right:0;
			top:0;
		}
			#features #updates h3 {
				text-transform: uppercase;
				background:#b65518;
				color:#fff;
				float:left;
				font-size:1em;
				padding:5px;
				margin:0;
			}
			#features #updates div {
				clear:left;
				background:transparent;
				background:rgba(182,85,24,0.75);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BFB65518,endColorstr=#BFB65518); /* IE6–IE9 */
				zoom: 1;
				padding:20px;
				height:241px;
				color:#fff;
				font-size: 1.1em;
				line-height: 1.4em;
			}
				#updates div h4 {
					font-size: 1.3em;
					line-height: 1.4em;
				}
				#updates div a {
					font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
					color:#fff;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 10px;
					line-height: 1em;
					padding:4px;
					background:#cc7c36;
				}
	#sections {
		color:#333;
		margin:40px 0;
		padding:0 20px;
		border-right:1px solid #b2b2b2;
		width:601px;
		float:left;
	}
		.category {
			width:280px;
			float:left;
			padding:0 20px 10px 0;
			border-right:1px solid #b2b2b2;
			margin:0 20px 0 0;
		}
		.category-image {
			margin:0 0 1em;
			padding:0;
			position:relative;
			width:280px;
			height:140px;
			overflow:hidden;
		}
			.category-image h2 {
				position:absolute;
				top:20px;
				left:0;
				background:#fff;
				padding:5px;
				text-transform: uppercase;
				font-size: 10px;
				line-height: 1em;
			}
			.leadin {
				margin:0 0 1em;
			}
				.leadin h3 {
					text-transform: uppercase;
					line-height: 1.2em;
				}
				.leadin h3 a {
					text-decoration: none;
				}
				.leadin .meta {
					font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
					font-size: 10px;
					color:#9a9a9a;
					text-transform: uppercase;
				}
				.leadin .meta a {
					text-decoration: none;
				}
				#sections .leadin a.view-story {
					display:none;
				}
		#sections .end {
			padding-right:0 !important;
			margin-right:0 !important;
			border-right:none !important;
		}
		
	.header .sharing {
		float:right;
	}
	#sidebar {
		float:right;
		display:inline;
		width:280px;
		margin:40px 20px 0 0;
		color:#444;
	}
	.ie6 #sidebar {
		overflow:hidden;
	}
		#sidebar .contribute {
			background: #5a7e92 url('/img/repeat-earth-bg.gif') repeat scroll left top;
			color:#fff;
			padding:20px;
			
		}
			.contribute h2 {
				font-size: 2.2em;
			}
			.contribute h3 {
				color:#cbecff;
				font-size: 1.4em;
				line-height: 1.6em;
				margin:0 0 2em;
			}
			.divide {
				background: #b2b2b2;
				height:1px;
				overflow:hidden;
				margin:1.5em 0;
				clear:both;
			}
			
			.block {
				overflow:hidden;
				zoom:1;
			}
			
			.block h3 {
				text-transform: uppercase;
				margin:0 0 .7em;
			}
			
			.block h3 a {
				font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
				font-size: 9px;
				padding:2px 4px;
				position:relative;
				top:-3px;
				line-height: 1em;
				color:#fff !important;
				background:#5F939A;
				text-decoration: none;
				margin-left:5px;
			}
			
			#sidebar .newsletter form {
				margin:.5em 0 0;
			}
				#sidebar .newsletter img {
					display:block;
					margin:1em 0 0;
				}
				
				.ie8 #sidebar .newsletter input.input,
				.ie7 #sidebar .newsletter input.input,
				.ie6 #sidebar .newsletter input.input {
					padding-top:5px;
					width:190px;
				}
				
				#sidebar .newsletter small {
					color:#9a9a9a;
					margin-left:0;
					font-size: 10px;
					font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
					display:block;
					clear:left;
				}
			
			#sidebar .events a {
				text-decoration: none;
			}
			#sidebar .events p {
				margin:0 0 1em;
			}
			#sidebar .entry p.meta,
			#sidebar #twitter li .meta {
				color:#9a9a9a;
				font-size: 10px;
				font-family:'ProximaNovaSemibold', Helvetica, Arial, sans-serif;
				margin:0 0 1em;
				text-transform: uppercase;
			}
				#sidebar #twitter li .meta cite {
					font-style:normal;
				}
				#sidebar #twitter li .meta a {
					color:#9a9a9a;
					text-decoration: none;
				}
			#sidebar .partner {
				text-align:left;
			}
				.partner p {
					margin:.5em 0 1em;
				}
	#footer {
		color:#6b675a;
		padding:20px 0 20px 0;
		width:920px;
		margin:0 auto;
		overflow:hidden;
		zoom:1;
	}
		#footer .left {
			float:left;
		}
		#footer .right {
			float:right;
		}
		#footer a {
			color:#6b675a;
			padding: 0 10px;
			text-decoration: none;
		}
		
		
	form .text input,
	form textarea,
	form .password input {
		background: #f6f4ee url('/img/bg-input.png') repeat-x scroll left top;
		border:1px solid #d4d2cd;
	}
	
	
	/* =Images
	-------------------------------------------------------------- */

	/*
	Resize images to fit the main content area.
	- Applies only to images uploaded via WordPress by targeting size-* classes.
	- Other images will be left alone. Use "size-auto" class to apply to other images.
	*/
	img.size-auto,
	img.size-full,
	img.size-large,
	img.size-medium,
	.attachment img {
		max-width: 100%; /* When images are too wide for containing element, force them to fit. */
		height: auto; /* Override height to match resized width for correct aspect ratio. */
	}
	.alignleft,
	img.alignleft {
		display: inline;
		float: left;
		margin-right: 24px;
		margin-top: 4px;
	}
	.alignright,
	img.alignright {
		display: inline;
		float: right;
		margin-left: 24px;
		margin-top: 4px;
	}
	.aligncenter,
	img.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	img.alignleft,
	img.alignright,
	img.aligncenter {
		margin-bottom: 12px;
	}
	.wp-caption {
		background: #f1f1f1;
		line-height: 18px;
		margin-bottom: 20px;
		max-width: 632px !important; /* prevent too-wide images from breaking layout */
		padding: 4px;
		text-align: center;
	}
	.wp-caption img {
		margin: 5px 5px 0;
	}
	.wp-caption p.wp-caption-text {
		color: #888;
		font-size: 12px;
		margin: 5px;
	}
	
	.clearfix:after {
	    content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	}
	.clearfix {display: inline-block;}
	* html .clearfix {height: 1%;}
	.clearfix {display: block;}
