/**
 * Variables
 */

// neutrals
@black: #292F33;
@white: white;
@grey0: #4d4d4d;
@grey1: #999999;
@grey2: #e2e2e2;
@grey3: #f2f2f2;

// notifications
@alert: #D41313;

//brand colors
@primary: #007fb2; //blue
@secondary: #deb408; //gold
@accent1: #e2711e; //orange
@accent2: #2a9e5e; //green
@accent3: #8e569b; //purple
@accent4: #ad3434; //red


// brand colors:
@yellow: rgb(222, 180, 8);
@blue: rgb(0, 127, 178);
@red: rgb(173, 52, 52);
@purple: rgb(173, 52, 52);
@green: rgb(42, 158, 94);
@orange: rgb(226, 113, 30);